.header-yellow {
    height: 100px;
    background: var(--gradient-yellow);
    box-shadow: var(--box-shadow-yellow);
}

.header-white {
    height: 54px;
    background: var(--white);
    box-shadow: var(--box-shadow-white);
}
