.header-yellow__list {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        align-items: center;
    }

    @media screen and (min-width: 1440px) {
        position: relative;
        justify-content: flex-end;
    }
}

.header-yellow {
    background: var(--gradient-yellow);
    box-shadow: var(--box-shadow-yellow);

    @media screen and (max-width: 767px) {
        padding-top: 24px;
        padding-bottom: 36px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 42px;
        padding-bottom: 36px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 59px;
        padding-bottom: 47px;
    }
}

.header__icon {
    color: var(--yellow);
    @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 768px) {
        width: 66px;
        height: 66px;
    }

    @media screen and (min-width: 1440px) {
        width: 45px;
        height: 45px;
    }
}

.header-yellow__item--user {
    display: none;

    @media screen and (min-width: 1440px) {
        display: block;
    }
}

.header-yellow__item--menu {
    display: block;

    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.header-yellow__item--logo {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1440px) {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translatey(-50%);
    }
}

.icon__logo {
    @media screen and (max-width: 1439px) {
        width: 210px;
    }

    @media screen and (min-width: 1440px) {
        width: 290px;
    }
}

.logo__text {
    font-size: 18px;
    line-height: 1.17;
    color: var(--main-text-color);

    @media screen and (max-width: 1439px) {
        text-align: center;
    }

    @media screen and (min-width: 1440px) {
        text-align: left;
    }
}

.header-yellow--tel {
    display: none;

    @media screen and (min-width: 1440px) {
        display: block;
    }
}

.header-white {
    background: var(--white);
    box-shadow: var(--box-shadow-white);

    @media screen and (max-width: 767px) {
        text-align: center;
        padding: 18px 0;
    }

    @media screen and (min-width: 768px) {
        text-align: left;
        padding-top: 22px;
        padding-bottom: 26px;
    }
}

.header__tel {
    color: var(--brown);
    @media screen and (max-width: 767px) {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
    }

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
    }
}

.header-white--tel {
    display: block;

    @media screen and (min-width: 1440px) {
        display: none;
    }
}